[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/Mine8460/imgui
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Mayhem/vendor/yaml"]
	path = Mayhem/vendor/yaml
	url = https://github.com/Mine8460/yaml-cpp
